###############
# MeepleStats #
###############

# Database settings
DB_NAME=meeplestatslocaldb # database name
DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/meeplestatslocaldb

# Backend settings
UPLOAD_FOLDER= # upload folder path
SECRET_KEY= # random string, you can use `openssl rand -base64 32` to generate one
CORS_ORIGIN=http://localhost:5173 # comma-separated list of allowed origins, e.g. http://localhost:3000,http://localhost:3001

# BGG settings
BGG_USERNAME= # BoardGameGeek username
BGG_API_KEY= # BoardGameGeek API key

# JWT settings
JWT_SECRET_KEY= # random string, you can use `openssl rand -base64 32` to generate one
JWT_ACCESS_TOKEN_EXPIRES=90 # access token expiration time in seconds
JWT_TOKEN_LOCATION=headers # token location, e.g. headers, cookies, json, query_string
JWT_COOKIE_SECURE=False # True if cookie should be secure, False otherwise
JWT_ACCESS_COOKIE_NAME=meeplestats # access cookie name
JWT_COOKIE_CSRF_PROTECT=False # True if CSRF protection is enabled, False otherwise
JWT_STORAGE=cookie # localstorage or cookie

# Storage
STORAGE_TYPE=local # local or s3

# S3 storage (required if using S3)
S3_ENDPOINT= # S3 endpoint
S3_ACCESS_KEY= # S3 access key
S3_SECRET_KEY= # S3 secret key
S3_BUCKET_NAME= # S3 bucket name

# RAG (Retrieval Augmented Generation) on Rulebooks PDF
ENABLE_RAG=False # Enable RAG
PINECONE_API_KEY=your_pinecone_key
PINECONE_INDEX_NAME=gamerulebooks
EMBEDDING_MODEL=embedding_model_name # for example: BAAI/bge-small-en-v1.5
PINECONE_DIMENSION=384
OPENROUTER_API_KEY=your_openrouter_key
LLM_MODEL= # for example: qwen/qwq-32b:free
EMBEDDING_TYPE=local  # gemini or local
GEMINI_API_KEY= # Gemini API key, if using Gemini embeddings

# Frontend settings
VITE_API_URL=http://127.0.0.1:5000 # backend API URL
VITE_JWT_STORAGE=cookie # 'localstorage' or 'cookie'
